<div class="call-to-action">
  <p>Have you ever bitten into a juicy hamburger, only to realize that it was a Friday during Lent. Sinner! Just kidding. But let's not make that happen again.</p>

  <div class="sign-up-holder input-group input-group-lg">
    <input id='email' type="text" class="form-control" placeholder="Email Address" aria-describedby="sizing-addon1">
    <span class="sign-up-button input-group-addon" id="sizing-addon1">Sign Up</span>
  </div>

  <p>We alert you every Friday during Lent to make sure you don't accidently eat meat.</p>
</div>





