<p>Hello <%= @user.email %>!</p>
<p>This is your LENT ALERT! DO NOT EAT MEAT. I REPEAT. DO NOT EAT MEAT!</p>

<p>This has been a friendly reminder from your pals at Lent Alert.</p>

<p>Have a great day!</p>